
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    user-select: none;
 }
html{
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('pickaxe.png'), auto;
}

#cookie {
    max-width: 500px;
    width: 100%;
    display: table;
    margin-left: 50px;
    transition: .3s ease;
    cursor: url('pickaxe.png'), auto;
    

}

#counter{
    text-align: center;
    font-size: 70px;
    margin-left: 50px;
    
}
#cookie:hover{
   transform: scale(1.1);
}
#clickUpgrade{border: none;
font-size: 34px;
cursor: url('pickaxe.png'), auto;
transition: .3s ease;
background-color: burlywood;
text-align: center;
display: table;
margin-right: 50px;
}
#clickUpgrade:hover{transform: scale(1.1);}

#autoclickUpgrade{border: none;
    font-size: 34px;
    cursor: url('pickaxe.png'), auto;
    transition: .3s ease;
    background-color: burlywood;
    text-align: center;
    display: table;
    margin-right: 50px;
    margin-top: 5px;
    }
    #autoclickUpgrade:hover{transform: scale(1.1);}
    .buttons {
        float: right;
    }
    .container {
        float: left;
    }