
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    user-select: none;
 }
html{
    background-image: url(../img/back2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('../img/pickaxe.png'), auto;
}

#Cobblestone {
    max-width: 300px;
    width: 100%;
    display: table;
    margin-top: 45px;
    margin-left: 800px;
    transition: .3s ease;
    cursor: url('../img/pickaxe.png'), auto;
    

}

#counter{
    text-align: center;
    font-size: 70px;
    color: white;

}
#Cobblestone:hover{
   transform: scale(1.1);
}
#clickUpgrade{border: none;
font-size: 34px;
cursor: url('../img/pickaxe.png'), auto;
transition: .3s ease;
background-image: url(../img/backupgrade.png);
text-align: center;
display: table;
margin-right: 50px;
}
#clickUpgrade:hover{transform: scale(1.1);}

#autoclickUpgrade{border: none;
    font-size: 34px;
    cursor: url('../img/pickaxe.png'), auto;
    transition: .3s ease;
    background-image: url(../img/backupgrade.png);
    text-align: center;
    display: table;
    margin-right: 50px;
    margin-top: 5px;
    }
    #autoclickUpgrade:hover{transform: scale(1.1);}
    .buttons {
        float: right;
    }
    .container {
        float: center;
    }
.upgrade{float: right;text-align: center;}

#hotbar{
    margin-left: 580px;
    margin-top: 30px;
}

